[common]
server_addr = <ip>
server_port = 8001
protocol = websocket
token = <token>


[Windows-remote]
type = udp
local_ip = 192.168.33.66
local_port = 3389
remote_port = 33389
use_encryption = true
use_compression = true

[Windows-remote-2]
type = tcp
local_ip = 192.168.33.66
local_port = 3389
remote_port = 33389
use_encryption = true
use_compression = true

[GitLab-Https]
type = stcp
sk=<sk>
local_ip = 127.0.0.1
local_port = 443
use_encryption = false
use_compression = false

[Redmine-Http]
type = stcp
sk=<sk>
local_ip = 127.0.0.2
local_port = 80
use_encryption = false
use_compression = false
